prac\prac-env\pyvenv.cfg
fgeovisor\migrations
prac
py_venv_installer_and_django_start_server
py_venv_installer_and_django_start_server.bat
__pycache__
geodjangorainmarker
geodjango
fgeovisor\site_back\__pycache__\.
fgeovisor\site_back\__pycache__\
fgeovisor\site_back\__pycache__
*.pyc
fgeovisor/site_back/__pycache__/models.cpython-312.pyc
fgeovisor/site_back/__pycache__/urls.cpython-312.pyc
fgeovisor/site_back/__pycache__/views.cpython-312.pyc
fgeovisor/visor_bend_site/__pycache__/settings.cpython-312.pyc
fgeovisor/visor_bend_site/__pycache__/urls.cpython-312.pyc
