{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Карта с OpenStreetMap</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css">
</head>
<body>

    <!-- Боковое меню -->
    <div id="sidebar" class="sidebar" style="width: 0;">
        <div id="defoltview">
            <a href="#" onclick="showLoginForm()">Войти</a>
            <a href="#" onclick="showRegistrationForm()">Зарегистрироваться</a>
        </div>
        <div id="loggedinbuttons">
            <div id="superuser">
                <a href="{% url 'admin:index' %}">Панель админа</a>
            </div>
            <a href="{% url 'log-out' %}">Выйти</a>
        </div>
    </div>

    <button id="createbutton" class="ui-button">Добавить поле</button>
    <button id="calcNdvi" class="popup-button">Рассчитать NDVI</button>
    <button id="deleteButton" class="popup-button">Удалить</button>
    <button id="finishButton" class="ui-button" style="display: none;">Создать</button>
    <button id="cancelButton" class="ui-button" style="display: none;">Отменить</button>
    <!-- Карта -->
    <div id="map" onmousedown="document.getElementById('sidebar').style.width='0px'" ontouchstart ="document.getElementById('sidebar').style.width='0px'"></div>

    <!-- Кнопка открытия меню -->
    <button id="menuButton" class="menu-button" onmousedown="toggleSidebar()">☰</button>

    <!-- Модальное окно для форм -->
    <div id="modal" class="modal">
        <div class="modal-content" onclick="event.stopPropagation();">
            <span class="close" onclick="closeModal()">&times;</span>
            <div class="modalBody" id="modalBody"></div>
        </div>
    </div>

    <!-- Встраиваем формы в скрытые элементы -->
    <div style="display: none;">
        <div id="loginForm">
            <!-- Содержимое файла login.html -->
            <div class="errormsg" id="errormsg"><p>Неправильное имя пользователя или пароль</p></div>
            <h2>Вход</h2>
            <form method="post" action="{% url 'log-in' %}">
                {% csrf_token %}
                <input placeholder="Введите login" type="text" id="username" name="username" required>
                <input placeholder="Введите пароль" type="password" id="password" name="password" required>
                <button type="submit">Войти</button>
                <div class="login-help">
                    <a href ='#' onclick="showRegistrationForm()">Нет аккаунта</a>
                </div>
            </form>
        </div>

        <div id="registrationForm">
            <!-- Содержимое файла registration.html -->
            <div class="errormsg" id="errorrg"><p>Неверные данные или пользователь уже существует</p></div>
            <h2>Регистрация</h2>
            <form method="post" action="{% url 'sign-in' %}">
                {% csrf_token %}
                <input placeholder="Введите имя пользователя" type="text" id = "UserName" onsubmit="return validatePasswords()" name = "username" required>
                <input placeholder="Введите email" type="text" id="regEmail" name="email" required>
                <input placeholder="Введите пароль" type="password" id="regPassword" name="password" required>
                <input placeholder="Повторите пароль" type="password" id="passwordConfirmation" name="passwordConfirmation" required>
                <button type="submit">Зарегистрироваться</button>
            </form>
        </div>
    </div>
    <script>
        const csrfToken = document.querySelector('[name = csrfmiddlewaretoken]').value;
        var authcheck = "{{auth_check | safe}}";
        var isadmin = "{{is_staff | safe}}";
        var loginerror = "{{login_error | safe}}"
        var regerror = "{{is_vallid_error | safe}}"
    </script>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="{% static 'js/scripts.js' %}"></script>
</body>
</html>