<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OpenStreetMap with Leaflet.js</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <style>
        #map {
            height: 920px;
            width: 100%;
        }
        .leaflet-top.leaflet-right {
            z-index: 1000;
            position: absolute; 
            top: 10px; 
            right: 10px; 
        }
        .custom-control {
            background-color: white;
            padding: 5px 10px;
            border: 1px solid #ccc;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <div id="map"></div>
    <script>
        var map = L.map('map').setView([45.03, 41.96], 13);
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);

        var markers = [];

        map.on('click', function(e) {
            var lat = e.latlng.lat;
            var lng = e.latlng.lng;

            fetch(`/api/last_rainfall/${lng}/${lat}/`)
                .then(response => response.json())
                .then(data => {
                    addMarker(lat, lng, data);
                })
                .catch(error => {
                    console.error('Ошибка сбора данных о погоде:', error);
                    addMarker(lat, lng);
                });
        });

        function addMarker(lat, lng, data) {
            var marker = L.marker([lat, lng]).addTo(map); // Координатная плоскость спутаная почему то, поэтому их приходится в идеале менять местами
            var popupContent = `Широта: ${lat}, Долгота: ${lng}`;
            if (data) {
                popupContent += `<br>Станция №${data.station}<br>Последний дождь на ${data.rainfall}мм был ${data.date}`;
            }
            marker.bindPopup(popupContent).openPopup();
            markers.push(marker);
        }

        // Функция для удаления всех маркеров с карты
        function deleteMarkers() {
            for (var i = 0; i < markers.length; i++) {
                map.removeLayer(markers[i]); // Удаляем маркер с карты
            }
            markers = []; // Очищаем массив маркеров
        }


        // Удаление меток - кнопка
        var customControl = L.Control.extend({
            options: {
                position: 'topright'
            },

            onAdd: function(map) {
                var container = L.DomUtil.create('div', 'custom-control');
                container.innerHTML = 'Удалить метки';

                container.onclick = function() {
                    event.stopPropagation(); // Предотвращаем распространение события клика на карту
                    deleteMarkers(); 
                };

                return container;
            }
        });

        map.addControl(new customControl());
    </script>
</body>
</html>
